.button {
    background-color: rgb(111, 153, 234);
    color: rgb(255, 255, 255);
}

.button:active {
    background-color: rgb(55, 118, 240);
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(55, 118, 240);
    color: rgb(255, 255, 255);
}

.button-unClick {
    background-color: rgb(255, 255, 255);
    color: rgb(109, 142, 207);
    border-radius: 0.4rem;
}
